<html>
    <head>
        <title>
            Welcome to Tasky!!
        </title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        {{> header}}
        <br>
        
        <!-- Default form login -->
        <div id="login">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <form class="text-center border border-light p-5" action="#!">

                            <p class="h4 mb-4">Sign in</p>

                            <!-- Email -->
                            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

                            <!-- Password -->
                            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

                            <div class="d-flex justify-content-around">
                                <div>
                                    <!-- Remember me -->
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                                    </div>
                                </div>
                                <div>
                                    <!-- Forgot password -->
                                    <a href="">Forgot password?</a>
                                </div>
                            </div>

                            <!-- Sign in button -->
                            <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

                            <!-- Register -->
                            <p>Not a member?
                                <a id="registerLink" href="">Register</a>
                            </p>

                            <!-- Social login -->
                            <p>or sign in with:</p>

                            <a href="#" class="mx-2" role="button"><i class="fa fa-facebook-f light-blue-text"></i></a>
                            <a href="#" class="mx-2" role="button"><i class="fa fa-twitter light-blue-text"></i></a>
                            <a href="#" class="mx-2" role="button"><i class="fa fa-linkedin light-blue-text"></i></a>
                            <a href="#" class="mx-2" role="button"><i class="fa fa-github light-blue-text"></i></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Default form login -->

        <!-- Default Form Signup -->
        <div id="signup">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <!-- Default form register -->
                        <form class="text-center border border-light p-5" action="#!">

                            <p class="h4 mb-4">Sign up</p>

                            <div class="form-row mb-4">
                                <div class="col">
                                    <!-- First name -->
                                    <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                                </div>
                                <div class="col">
                                    <!-- Last name -->
                                    <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                                </div>
                            </div>

                            <!-- E-mail -->
                            <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

                            <!-- Password -->
                            <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                At least 8 characters and 1 digit
                            </small>

                            <!-- Phone number -->
                            <input type="text" id="defaultConfirmPassword" class="form-control" placeholder="Confirm Password" aria-describedby="defaultRegisterFormConfirmPasswordHelpBlock">

                            <!-- Newsletter -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                                <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
                            </div>

                            <!-- Sign up button -->
                            <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

                            <!-- Social register -->
                            <p>or sign up with:</p>

                            <a href="#" class="mx-2" role="button"><i class="fa fa-facebook-f"></i></a>
                            <a href="#" class="mx-2" role="button"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="mx-2" role="button"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="mx-2" role="button"><i class="fa fa-github"></i></a>

                            <hr>

                            <!-- Terms of service -->
                            <p>By clicking
                                <em>Sign up</em> you agree to our
                                <a href="" target="_blank">terms of service</a>

                        </form>
                        <!-- Default form register -->
                    </div>
                </div>
            </div>
        </div>
        {{> footer}}
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
        <script>
            $('#signup').hide();
            $('#registerLink').on(
                'click',
                function(e) {
                    e.preventDefault();
                    $('#login').hide();
                    $('#signup').show();
                }
            );
        </script>
    </body>
</html>